body {
  margin: 0;
  
}


form {
  background-color: #F1F1F1;
  width: 740px;
  height: 500px;
}

input {
  font-size: 30px;
  margin: 60px 40px;
  border-radius: 10px;
  padding: 10px;
}

input[type=text] {

  text-align:left;
}

input[type=email] {
  display: block;
  text-align:left;
  margin: 0 40px;
}

textarea {
  width: 100%;
  padding: 60px;
  border-radius: 9px;
}

select [type=text] {
  width: 100%;
}
